.remplir, #region{
    background-color: rgba(240, 248, 255, 0.263);
    width: 90%;
    height: 30px;
    margin: 5px;
    padding: 5px 10px;
    border: 2px solid rgba(245, 243, 243, 0.646);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
}

.remplir_tel{
    background-color:  rgba(240, 248, 255, 0.263);
    width: 70%;
    height: 30px;
    margin: 5px;
    padding: 5px 10px;
    border: 2px solid rgba(245, 243, 243, 0.646);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 5px 5px 0px 0px;
}
#pays{
    height: 40px;
    margin: 5px;
    padding: 5px 10px;
}
#send{
    width: 20%;
    height: 40px;
    background-color: rgb(4, 24, 177);
    border: 1px solid rgb(4, 24, 177);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: auto;

}
#send:hover{
    opacity: 0.8;
}
/* #region{
    width: 90%;
    height: 30px;
    ma
} */
#Femme,#Homme{
    width: 90px;
}

input::placeholder
{
    color: rgb(255, 255, 255);
}
.form1:hover ::placeholder,.form1:hover .remplir,.form1:hover .ville{
    color: black;
}
option{
    color: black;
}
table{
    margin-top: 20px;
    width: 100%;
    height: 100px;
    border: 1px solid rgb(236, 231, 231);
    /* border-collapse: collapse; */
    border-radius: 10px;
}
#pays{
    border-radius: 5px;
}
.ville{
    display: none;
}
.msg{
    width: 90%;
    margin: auto;
}
#click_msg{
    font-size: 20px;
    background-color: rgba(1, 161, 1, 0.737);
    width: 100%;
    border-radius: 0px 20px 20px 0px;
    border: none;
    margin: 5px;
    padding: 10px;
    justify-content: center;
    box-shadow: 0px 0px 8px rgb(35, 83, 1);

}
#click_msg:hover{
    box-shadow: 0px 0px 2px white;
}
#champ{
    display: none;
    font-size: 20px;
    background-color: rgba(10, 10, 10, 0.568);
    width: 100%;
    border-radius: 0px 20px 20px 0px;
    border: none;
    margin: 5px;
    padding: 5px 10px 5px 5px;
    justify-content: center;
    box-shadow: 0px 0px 8px rgb(35, 83, 1);
}
#commentaire{
    color: black;
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 0px 20px 20px 0px;
}
h4{
    margin: 0;
    padding: 0;
}
#commentaire::placeholder{
    color: black;
}